<% include partials/header.ejs %>

  <div class="container">
    <div class="table-wrapper">

      <% if (electiveList.length > 0) {%>
        <h4> Elective <%= elec_no %> List (<%= sec %>)</h4>
        <table class="table table-hovered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Subject Code</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Instructor</th>
                </tr>
            </thead>
            <tbody>

                <% electiveList.forEach((elec, index) => { %>
                  <tr>
                  <% if (elec_no == 2 ){%>

                      <td><%= elec.elec2_id %></td>
                      <td><%= elec.elec2_name %></td>
                      <td><%= elec.first_name %> <%= elec.last_name %></td>

                    <%} else {%>

                      <td><%= elec.elec3_id %></td>
                      <td><%= elec.elec3_name %></td>
                      <td><%= elec.first_name %> <%= elec.last_name %></td>

                    <% } %>
                    </tr>
                <% }) %>
            </tbody>
        </table>


      <% } else { %>
          <p class="text-center">No Electives found.</p>
      <% } %>

    </div>

  </div>
</div>
</body>

</html>
